<!-- index.html -->
<div class="main center">
  <div class="converge col-sm-12">
    <h1>Converge</h1>
  </div>
    <div class="landing-left col-sm-6" ng-controller="AuthenticationController as auth">
      <fieldset class="col-sm-12">
        <legend>Login</legend>
        <!-- begin login form -->
        <form name="login-form" ng-submit="auth.login()" ng-if="auth.isAuthenticated == false">
          <div class="form-group">
            <label>Email:</label>
            <input class="form-control" type="text" placeholder="email" ng-model="auth.email">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" placeholder="password" ng-model="auth.password">
          </div>
          <button type="submit" class="btn btn-success">Login</button>
        </form>
      </fieldset>
      <!-- end login form -->

      <div ng-if="auth.isAuthenticated">
        <button ng-click="auth.logout()" class="btn btn-default">Logout</button>
      </div>
    </div> <!-- END auth -->

    <div class="landing-right col-sm-6" ng-controller="UsersController as usersCtrl">
      <form name="signup_form" novalidate ng-submit="usersCtrl.createUser(signup_form.$valid)">
      <fieldset class="col-sm-12">
        <legend>Signup</legend>
        <div class="form-group"> <!-- NAME -->
          <label>(User)Name</label>
          <input type="text" 
              placeholder="name is required" 
              name="name" 
              class="form-control"
              ng-model="usersCtrl.name" 
              ng-minlength=3 
              ng-maxlength=20 required />
           <div class="error-container" ng-show="signup_form.name.$dirty && signup_form.name.$invalid">
             <small class="error" 
                    ng-show="signup_form.name.$error.required">
                    name is required
             </small>
             <small class="error" 
                    ng-show="signup_form.name.$error.minlength || signup_form.name.$error.maxlength">
                    name needs to be 3 to 20 characters long
             </small>
           </div>
        </div> <!-- NAME ENDs -->
        <div class="form-group"> <!-- EMAIL -->          
          <label>Your email</label>
          <input type="email" 
            placeholder="email is required" 
            name="email" 
            class="form-control"
            ng-model="usersCtrl.email" 
            ng-minlength=5 ng-maxlength=24 required />
          <div class="error-container" ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
            <small class="error" 
               ng-show="signup_form.email.$error.required">
               email is required
            </small>
            <small class="error" 
               ng-show="signup_form.email.$error.email">
               email needs to be valid
            </small>
          </div>
        </div> <!-- EMAIL ENDs -->
        <div class="form-group"> <!-- PASSWORD -->
          <label>Password</label>
          <input type="password"
            placeholder="6 to 20 characters"
            name="password"
            class="form-control" 
            ng-model="usersCtrl.password" 
            ng-minlength=6 ng-maxlength=20 required />
          <div class="error-container" ng-show="signup_form.password.$dirty && signup_form.password.$invalid">
            <small class="error" 
               ng-show="signup_form.password.$error.required">
               password is required
            </small>
            <small class="error" 
               ng-show="signup_form.password.$error.minlength || signup_form.password.$error.maxlength">
               password needs to be 6 to 20 characters long
            </small>
          </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" 
              placeholder="retype password"
              name="confirmPassword" 
              class="form-control" 
              ng-model="usersCtrl.password_confirmation" 
              match="usersCtrl.password"
              required />
            <div class="error-container" ng-show="signup_form.confirmPassword.$dirty && signup_form.confirmPassword.$invalid">
              <small class="error" 
                 ng-show="signup_form.confirmPassword.$error.required">
                 password confirmation is required
              </small>
              <small class="error" 
                 ng-show="signup_form.confirmPassword.$error.match">
                 password confirmation needs to match password
              </small>
            </div>
        </div><br>
        <button type="submit" ng-disabled="signup_form.$invalid" class="btn btn-success">Join!</button>
      </fieldset>
    </form>
    </div>
  <!-- </div> -->
</div>
