<!-- invitee.html -->
<div class="col-sm-4">
  <div ng-init="invtCtrl.showInvitee()">
    <h2>Hello, {{invtCtrl.currentInvitee.name}}</h2>
    <p>To accept the invitation, please provide an address from which you will depart:</p>
    <div ng-controller="LocationsController as locationsCtrl">
      <form name="invitee_location" ng-submit="locationsCtrl.createLocation()">
        <label>where will you be coming from?</label>
        <div class="input-group">
          <input name="address" class="form-control" type="text" placeholder="street address and city/state or zip" ng-model="locationsCtrl.address">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">+</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>