<div ng-controller="MeetupsController as meetupsCtrl"> <!-- LOCATIONS for user and invts -->
  <div ng-init="meetupsCtrl.showMeetup()">
    <p>{{meetupsCtrl.currentMeetup.date | date: "mediumDate"}} @ {{meetupsCtrl.currentMeetup.time | date: "shortTime"}}</p>
  </div>
  <br>
  <div ng-controller="InviteesController as invtCtrl"><!-- invite your friends! -->
    <form name="invitee_create" ng-submit="invtCtrl.createInvitee()">
      <label>send invite texts to your friends!</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="friend's name" ng-model="invtCtrl.name">
        <input type="text" class="form-control" placeholder="example: +18005551234" ng-model="invtCtrl.phone_number">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">+</button>
        </span>
      </div>
    </form>
  </div> <!-- invite your friends! END -->
</div> <!-- LOCATIONS for user and invts END -->
