<div ng-controller="MeetupsController as meetupsCtrl"> <!-- LOCATIONS for user and invts -->
<div class="main center">
  <div class="col-sm-2">
    <!-- BUTTON NOT WORKING - USERS CTRL -->
    <button class="btn btn-success" ng-click="meetupsCtrl.goBack()">My Page</button>
  </div>

  <div ng-init="meetupsCtrl.showMeetup()"> <!-- SHOW MEETUP -->
    <h3>{{meetupsCtrl.currentMeetup.date | date: "mediumDate"}} @ {{meetupsCtrl.currentMeetup.time | date: "shortTime"}}</h3>
    <h3 ng-if="meetupsCtrl.currentMeetup.location_id">Convergence point has been set!</h3>
  </div> <!-- show meetup END -->
  
  <div class="bgnd pad col-sm-12">
    <div ng-if="meetupsCtrl.currentMeetup.location_id" ng-init="meetupsCtrl.getLocation(meetupsCtrl.currentMeetup.location_id)">
      <div id="googleMap" class="col-sm-12" ng-init="meetupsCtrl.showConvergence()">
      </div>
    </div>
    <div ng-controller="InviteesController as invtCtrl"><!-- invite your friends! -->
      <form name="invitee_create" class="col-sm-6" novalidate ng-submit="invtCtrl.createInvitee(invitee_create.$valid)">
        <legend>Send invite texts:</legend>
        <div class="form-group">
          <label>Friend's name</label>
          <input type="text" class="form-control" placeholder="friend's name" ng-model="invtCtrl.name">
          <div class="error-container" ng-show="invitee_create.name.$dirty && invitee_create.name.$invalid">
            <small class="error" 
                   ng-show="invitee_create.name.$error.required">
                   friend's name is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Friend's phone number</label>
          <input type="text" name="phone" class="form-control" placeholder="example: 8005551234" ng-model="invtCtrl.phone_number" ng-minlength=10 ng-maxlength=10 required />
          <div class="error-container" ng-show="invitee_create.phone.$dirty && invitee_create.phone.$invalid">
            <small class="error" 
               ng-show="invitee_create.phone.$error.required">
               phone number is required for app communication
            </small>
            <small class="error" 
               ng-show="invitee_create.phone.$error.minlength || invitee_create.phone.$error.maxlength">
               please input 10-digit number including area code
            </small>
          </div>
        </div>
          <button type="submit" ng-disabled="invitee_create.$invalid" class="btn btn-success">Send</button>
      </form>
      <div name="list_invitees" class="col-sm-6" ng-init="invtCtrl.inviteesIndex()"> <!-- invitees list -->
      <legend>You invited:</legend>
        <ul class="list-group" ng-repeat="invitee in invtCtrl.invitees">
          <li class="list-group-item no-link">{{invitee.name}} - {{invitee.phone_number}}</li>
        </ul>
      </div> <!-- invitees list END -->
    </div> <!-- invite your friends! END -->
  </div>
</div>
</div> <!-- LOCATIONS for user and invts END -->