<!DOCTYPE html>
<html>
<head>
  <title>Converge</title>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-_NnKIOrt21A_M16HV2u37O4fqRAOV_s"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class='container-fluid'>

<%= yield %>

</body>
</html>
